$primary: #175b97;
$secondary: #26a69a;
$accent: #9c27b0;
$dark: #1d1d1d;
$success: #21ba45;
$danger: #c10015;
$info: #31ccec;
$warning: #f2c037;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
);

$bg-dark-opaciti: rgba(0, 0, 0, 0.3);
