// GLOBAL
@import "./color-variables.scss";
@import "./page.scss";

// LOADING
@import "../components/global/loading/loaders/atom/atom.scss";

// BOOTSTRAP
@import "node_modules/bootstrap/scss/bootstrap";

// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
